@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Mukta:wght@500&display=swap');


html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #232D3F;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Mukta', sans-serif;
}

h3,
p {
    margin: 5px 0;
    line-height: 1.5;
}

p,
a,
label {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
}

nav {
    display: flex;
    position: sticky;
    background-color: #008170;
    top: 0;
    justify-content: space-between;
    padding: 2vh 6vw;
    align-items: center;
}

#heavy-nav-item {
    background-color: #005B41;
    border-radius: 12%;
    margin-left: 1.2vw
}

nav div a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    transition: border-bottom 0.8s, color 0.5s ease;
}

nav a {
    transition: border-bottom 0.8s, color 0.5s ease;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #232D3F;
    border-bottom: #232D3F 2px solid;
}

.logo {
    width: 4vw;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20% 25%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/iceland-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: solid 3px #0F0F0F;
    border-top: solid 3px #0F0F0F;
}

h1 {
    font-size: 3rem;
    color: #FFFFFF;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

header p {
    color: #FFFFFF;
}

header div a {
    text-decoration: none;
    background-color: #005B41;
    color: #000000;
    padding: 10px 20px;
    border: solid 1px #005B41;
    border-radius: 10%;
    transition: border-bottom 0.8s, color 0.5s ease;
    border-bottom: 2px solid transparent;
}

header div a:hover {
    color: #232D3F;
    border-bottom: solid 2px #232D3F;
}

h2 {
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 2rem;
}

#sub-products {
    display: flex;
    gap: 20px;
    margin: 0 7vw 7vh 7vw;
    color: #FFFFFF;

}

#sub-products a {
    text-decoration: none;
    color: #000000;
    background-color: #005B41;
    padding: 10px 20px;
    border: solid 1px #005B41;
    border-radius: 10%;
    transition: border-bottom 0.8s, color 0.5s ease;
    border-bottom: 2px solid transparent;
    &:hover {
        color: #232D3F;
        border-bottom: #232D3F 2px solid;
        transition: border-bottom 0.8s, color 0.5s ease;    
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 8px;
    flex: 1;
    justify-content: space-between;
}

.stars-container {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.stars-color {
    color: yellow;
}

.product-card img {
    width: 100%;
    border-bottom: 2px solid #000000;
    height: 20vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    object-position: center;
    transition: ease 1s;
    &:hover {
        transform: scale(1.2);
    }
}

.product-card-info-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #0F0F0F;
}

.product-card-link {
    margin-top: 20px;
}

h4 {
    text-align: center;
    font-size: 2rem;
}

#forum-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 25vw 7vh 25vw;
}

#forum-container a {
    color: #000000;
}

#forum-container a:hover {
    color: #0F0F0F;
}


.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.sub-forum-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

input:invalid {
    border: 3px solid red;
    background-color:pink;
}
input:valid {
    border: 3px solid green;
    background-color:lightgreen;
}

input,
select {
    flex: 2;
    padding: 10px;
}

button {
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    background-color: #005B41;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background-color: #008170;
}

#footer-container {
    display: flex;
    flex-direction: row;
    padding: 3vh 5vw;
    background-color: #0F0F0F;
    color: #FFFFFF;
}

#footer-img-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#footer-left-side {
    flex: 1;
    color: #005B41;
}

#footer-img-container img {
    width: 20px;
    cursor: pointer;
    filter: grayscale(100%);
}

#footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 2;
}

#footer-link-container a {
    text-decoration: none;
    color: #005B41;
}

#chat-box {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: -200px;
    background-color: #005B41;
    border-radius: 5%;
    animation: slidein 5s normal 4s forwards;
    transition: ease 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    &:hover {
        transform: scale(1.2);
    }
}

@keyframes slidein {
    from {
        right: -200px;
    }

    to {
        right: 20px;
    }
}



@media (max-width: 800px) {

    nav,
    #sub-products,
    .sub-forum-container,
    #footer-link-container,
    #footer-container {
        flex-direction: column;
    }

    #nav-items {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    #footer-left-side,
    #footer-img-container {
        text-align: center;
        justify-content: center;
    }

    #heavy-nav-item {
        margin-left: 0;
    }

    #chat-box {
        padding: 5px;
        bottom: 10px;
        right: 10px;
    }

    .logo {
        display: none;
    }
}

@media (max-width: 488px) {

    #sub-products,
    #forum-container {
        margin: 0 10px 100px 10px;
    }

    header {
        padding: 25% 10%;
    }
}